<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 hidden-xs">
                <div class="wd-website-edit-navbar col-lg-8">
                    <div class="wd-navbar-edit navbar-brand pull-left">
                        <a class="wd-gly-left" ng-href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <span>Pages</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="navbar-text pull-right">
                        <a ng-href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                            <span class="wd-website-edit-gly-plus glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="wd-website-edit-right-navbar col-xs-12 col-sm-8">
                <div class="wd-website-edit-nav col-lg-8 col-sm-8">
                    <div class="wd-navbar-edit navbar-brand pull-left">
                        <a ng-href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                            <span class="wd-website-gly glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <span>New Page</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="navbar-text pull-right">
                        <a ng-click="model.create(name,description)">
                            <span class="wd-website-edit-gly glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <ul class="list-group">

                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-xs-9">
                            Name
                        </div>
                        <div class="col-lg-3 visible-lg">
                            Created
                        </div>
                        <div class="col-lg-3 visible-lg">
                            Accessed
                        </div>
                        <div class="col-lg-1 col-md-4 col-xs-3">

                        </div>
                    </div>
                </li>

                <li ng-repeat="page in model.pages" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-xs-9">
                            <a ng-href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                                {{page.name}}
                            </a>
                        </div>
                        <div class="col-lg-3 visible-lg">
                            {{page.created | date}}
                        </div>
                        <div class="col-lg-3 visible-lg">
                            {{page.accessed | date}}
                        </div>
                        <div class="col-lg-1 col-md-6 col-xs-3">
                            <a ng-href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-8">

            <div class="alert alert-danger" ng-show="model.message">{{model.message}}</div>
            <label for="name">Name</label>
            <input class="form-control"
                   ng-model="name"
                   placeholder="Home"
                   id="name"/>

            <label for="title">Title</label>
            <input class="form-control"
                   ng-model="description"
                   placeholder="Home Page"
                   id="title"/></div>
    </div>
</div>

<nav class="pagenavbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
